.themes-body {
  max-height: 75vh;
  overflow-y: auto;
}

.themes-header {
  position: sticky;
  top: 0;
  background-color: #9e9e9e; /* Required to cover scrolling body text */
  z-index: 2;
  padding: 10px;
  border-bottom: 2px solid #ddd
}
