<div class="storage_add modal">
  <button class="close_modal w3-button w3-circle w3-padding-small w3-black" type="button"
          (click)="closeModal()"
          >&times;</button>
  <h1 id="tableLabel">Lego Elements Storage</h1>
  <p *ngIf="!storageLoaded"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
  <div *ngIf="storageLoaded">
    <div class="storage-body">
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-grey">
            <th></th>
            <th class="w3-text-white">Image</th>
            <th class="w3-text-white">Part</th>
            <th class="w3-text-white">Bin / Drawer</th>
          </tr>
        </thead>
        <tbody>
          <tr class="selected-row">
            <td><input class="w3-check" type="checkbox" [(ngModel)]="selectedElement.selected" disabled /></td>
            <td><img src="{{ selectedElement.part_img_url }}" class="element-img" /></td>
            <td class="w3-left-align">{{ selectedElement.color.name }}<br /> {{ selectedElement.part.name }}</td>
            <td>
              <input class="w3-input w3-border w3-round storage-input" type="text" [(ngModel)]="selectedElement.storage_location.bin" placeholder="Bin Id" />
              <input class="w3-input w3-border w3-round storage-input" type="text" [(ngModel)]="selectedElement.storage_location.drawer" placeholder="Drawer Id" />
            </td>
          </tr>
          <tr *ngFor="let item of elementList">
            <td><input class="w3-check" type="checkbox" [(ngModel)]="item.selected" /></td>
            <td><img src="{{ item.part_img_url }}" class="element-img" /></td>
            <td class="w3-left-align">{{ item.color.name }}<br /> {{ item.part.name }}</td>
            <td>
              <input class="w3-input w3-border w3-round storage-input" type="text" [(ngModel)]="item.storage_location.bin" placeholder="Bin Id" />
              <input class="w3-input w3-border w3-round storage-input" type="text" [(ngModel)]="item.storage_location.drawer" placeholder="Drawer Id" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="storage-footer">
      <button class="w3-btn w3-round-large w3-dark-grey" (click)="toggleSelections()">Toggle Selections</button>
      <button class="w3-btn w3-round-large w3-dark-grey" (click)="copySelected()">Copy Selected</button>
      <button class="w3-btn w3-round-large w3-dark-grey" (click)="clearSelected()">Clear Selections</button>
      <button class="w3-btn w3-round-large w3-dark-grey" (click)="saveAllStorage(selectedElement)">Save Changes</button>
    </div>
  </div>
</div>
