:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.element-img {
  max-width: 75px;
}

.storage_add {
  max-width: 800px;
  padding: 1rem;
  text-align: center;
}

.storage_add {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: calc(50% - (600px/2));
  top: calc(50%);
  transform: translateY(-50%);
  overflow: auto; /* Enable scroll if needed */
  background: white;
}

.close_modal {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #aaaaaa;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.storage-input{
    width:120px;
}
