:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}


.set_img {
  max-width: 75px;
}

.set-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 75vh;
  overflow-y: auto;
  margin-left: 25%;
}

  .set-body th {
    position: sticky;
    top: 0;
    background-color: #9e9e9e; /* Required to cover scrolling body text */
    z-index: 2;
    padding: 10px;
    border-bottom: 2px solid #ddd
  }
