<div class="w3-row w3-container" *ngIf="setsLoaded">
  <!--sidebar-->
  <div id="controlls" class="w3-third w3-container">
    <div class="w3-display-container sidebar-container">
      <setFilterComponent [options]="setThemeOptions"
                          (onOptionsSent)="setTheme($event)"></setFilterComponent>
      <div class="w3-display-bottommiddle">
        <hr />
        <span class="w3-left">
          <button type="button" class="w3-btn w3-round-large w3-dark-grey"
                  (click)="popUp('New')">
            Add/Re-Add Set
          </button>
        </span>
        <span class="w3-right">
          <button type="button" class="w3-btn w3-circle w3-large w3-dark-grey"
                  (click)="popUp('CV')">
            <i class="fa-regular fa-clipboard"></i>
          </button>
          <button type="button" class="w3-btn w3-circle w3-large w3-dark-grey"
                  (click)="popUp('TV')">
            <i class="fa-solid fa-border-all"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <!--Header-->
  <div>
    <h1 id="tableLabel">Owned Lego Sets</h1>
    <p *ngIf="!setsLoaded"><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>
    <p *ngIf="setsLoaded"><em>Select the set you want to see the inventory of.</em></p>
  </div>
  <!--Body-->
  @if (displayMode === 'TV'){
  <setTable [legoSets]="legoSets"
            (setNumOut)="loadSet($event)"></setTable>
  } @else if (displayMode === 'CV'){
  <setCards [legoSets]="legoSets"
            [setThemes]="setThemeOptions"
            [currentTheme]="selectedTheme"
            (setNumOut)="loadSet($event)"></setCards>
  } @else {
    <p><em>Please select a display mode.</em></p>
  }
</div>

<legoset_add *ngIf="showPopUp"
             (addSetEvent)="addedSet($event)"
             (closeModalEvent)="closeModal()">
</legoset_add>
