<h1 id="tableLabel">Lego Set Elements</h1>

<p *ngIf="!Loaded"><em>Please enter a set number (normally found on the instruction book, or box).</em></p>

<div *ngIf="Loaded">
  <!--sidebar-->
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;">
    <div class="w3-card-4">
      <header class="w3-container w3-dark-grey">
        <h2>Category(s)</h2>
      </header>
      <ul class="w3-ul w3-hoverable  ">
        <li class="w3-left-align w3-white">
          <button class="w3-button w3-round-large w3-green">All</button>
          <button class="w3-button w3-round-large w3-gray w3-text-white w3-right"
                  (click)="collapse('category')">
            <span [innerHTML]="catergoryArrow"></span>
          </button>
        </li>
      </ul>
      <div *ngIf="!categoryCollapse">
        <ul class="w3-ul w3-hoverable  ">
          <li class="w3-left-align"
              *ngFor="let option of partCategory">
            <label>
              <input class="w3-check" type="checkbox" [(ngModel)]="option.selected" />
              {{option.name}}
            </label>
          </li>
        </ul>
      </div>
      <footer></footer>
    </div>

    <div class="w3-card-4">
      <header class="w3-container w3-dark-grey">
        <h2>Color(s)</h2>
      </header>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-left-align w3-white">
          <button class="w3-button w3-round-large w3-green">All</button>
          <button class="w3-button w3-round-large w3-gray w3-text-white w3-right"
                  (click)="collapse('color')">
            <span [innerHTML]="colorArrow"></span>
          </button>
        </li>
      </ul>
      <div *ngIf="!colorCollapse">
        <ul class="w3-ul w3-hoverable">
          <li class="w3-left-align"
              *ngFor="let option of partColor">
            <label>
              <input class="w3-check" type="checkbox" [(ngModel)]="option.selected" />
              {{option.name
              }}
              </label>
          </li>
        </ul>
      </div>
      <footer></footer>
    </div>
  </div>

  <!--Body-->
  <div class="element-body">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-grey">
          <th class="w3-text-white">Quantity</th>
          <th class="w3-text-white">Image</th>
          <th class="w3-text-white">Part</th>
          <th class="w3-text-white">Storage</th>
        </tr>
      </thead>
      <tbody style="overflow-y:auto;">
        <tr *ngFor="let item of elements">
          <td class="w3-jumbo"><b>{{ item.quantity }}</b></td>
          <td>
              <img class="element-img" src="{{item.part_img_url}}" alt="Element {{item.element_id}}" (error)="item.part_img_url = item.alt_part_img_url">
          </td>
          <td class="w3-left-align">{{ item.color.name }} {{ item.part.name }}</td>
          <td (click)="setStorage(item)">
            {{ item.storage_location.bin }} <br />
            {{ item.storage_location.drawer }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<storage *ngIf="storageVisable"
         (saveStorageEvent)="addedStorage($event)"
         (closeModalEvent)="setStorageHidden($event)"
         [elementValue]="elementForStorage">
</storage>
