<h1 id="tableLabel">Lego Set Elements</h1>

<p *ngIf="!Loaded"><em>Please enter a set number (normally found on the instruction book, or box).</em></p>
<div>
  <label>
    Set Number:
    <input type="text" name="setNumber" [(ngModel)]="idValue" placeholder="Enter Set Number"
           (keyup.enter)="getElement()">
  </label>
  <button type="submit" (click)="getElement()">Submit</button>
</div>

<div *ngIf="Loaded">
  <label>
    Category:
    <select [(ngModel)]="selectedCategoryValue" name="ddCategory"
            (change)="onCategorySelected()">
      <option [ngValue]="null">Select an option (this clears this filter.)</option>
      <option *ngFor="let option of partCategory" [ngValue]="option">
        {{ option.name }}
      </option>
    </select>
  </label>
</div>

<div *ngIf="Loaded">
  <label>
    Color:
    <select [(ngModel)]="selectedColorValue" name="ddColor"
            (change)="onColorSelected()">
      <option [ngValue]="null">Select an option (this clears this filter.)</option>
      <option *ngFor="let option of partColor" [ngValue]="option">
        {{ option.name }}
      </option>
    </select>
  </label>
</div>

<table *ngIf="Loaded">
  <thead>
    <tr>
      <th>Set Number</th>
      <th>Quantity</th>
      <th>Part Name</th>
      <th>Part Color</th>
      <th>Image Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of elements">
      <td>{{ item.set_num }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.part.name }}</td>
      <td>{{ item.color.name }}</td>
      <td>{{ item.part.part_img_url }}</td>
    </tr>
  </tbody>
</table>

