:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.element-controll-container {
  height: 88vh;
  overflow: overlay;
}

.element-header {
  margin-left: 25%;
}
