<div class="overlay" *ngIf="setsLoading"><span class="loader"></span></div>
<div id="table" class="set-body">
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-grey">
        <th class="w3-text-white">Image</th>
        <th class="w3-text-white">Set Info</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="overflow-y:auto;">
      <tr *ngFor="let set of legoSets()" (click)="loadSet(set.set_num)">
        <td><img src="{{ set.set_img_url }}" class="set_img" /></td>

        <td>
          <span><b>{{ set.name }}</b> </span><br />
          <span>{{ set.theme[0].name }}</span> <br />
          <span>{{ set.set_num }}</span>
        </td>
        <td class="w3-display-container">
          <div class="w3-display-bottommiddle w3-padding">
            <app-button icon="fa-solid fa-plus" color="w3-green"
                        toolTip="Add Set" toolTipClass="btn-tooltip-right"
                        (clickEvent)="addSet(set, $event)">
            </app-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
