/* You can add global styles to this file, and also import other style files */
/*@import url('https://www.w3schools.com/w3css/5/w3.css');*/
@use '../Content/styles/w3.scss' as w3;

html {
  overflow: hidden;
}
.overlay {
  position: fixed; /* Stays in place relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; /* Ensures it sits on top of other content (adjust as needed) */
  pointer-events: none; /* Prevents all mouse interactions (clicks, hover, etc.) on the overlay itself, allowing clicks to pass through to elements beneath *if* the z-index is lower */
}
.overlay {
  background-color: lightgrey; /* Sets the light grey background */
  opacity: 0.5;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 101;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid blue; /* Blue */
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  border-radius: 50%;
  opacity:1;
  width: 120px;
  height: 120px;
}
.loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}


.btn-tooltip-right {
  @extend .w3-text, .w3-tag, .w3-small, .w3-round-xlarge;
  position: absolute;
  right: 0;
  bottom: 25px;
  white-space: nowrap;
}

.btn-tooltip-left {
  @extend .w3-text, .w3-tag, .w3-small, .w3-round-xlarge;
  position: absolute;
  left: 0;
  bottom: 25px;
  white-space: nowrap;
}

.btn-base-button {
  @extend .w3-button, .w3-circle, .w3-padding-small;
  margin-left:2px;
  margin-right:2px;
}
