<div class="w3-row w3-container">
  <div id="controlls" class="w3-third w3-container">
    <!--Inventory and controll section-->
    <div class="w3-display-container sidebar-container ">
      <h1 class="w3-bottombar">Inventory for {{legoSet.name}}</h1>
      <div class="inventory-body">
        <div *ngFor="let group of partGroups">
          <div *ngFor="let e of group.elements">
            <inventoryItem [element]=e
                           (addElementEvent)="addElement($event)"
                           (removeElementEvent)="removeElement($event)"
                           >
            </inventoryItem>
          </div>
          <div class="w3-bottombar">
            <b>{{ group.grouping }}<!--Part Name--></b>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-display-bottommiddle">
      <hr />
      <app-button icon="fa-solid fa-plus" color="w3-dark-grey"
                  toolTip="Add new subbuild step" toolTipClass="btn-tooltip-left"
                  (clickEvent)="addNewSubBuild()">
      </app-button>
    </div>
  </div>
  <!--SubBild section-->
  <div id="subBuilds" class="w3-container w3-twothird">

    <div class="w3-display-container subBuild-container">

      <h1 class="w3-bottombar">Sub Builds</h1>
      <div class="subBuild-body">
        <div *ngFor="let group of pageStepGroups">
          <subBuildItem [pageStep]=group
                        (pageStepSelectedEvent)="setSelectedSubBuildItem($event)"
                        ></subBuildItem>
        </div>
      </div>
    </div>
  </div>
</div>
