<h1 id="tableLabel">Add a Lego Set</h1>

<p><em>Please enter a set number (normally found on the instruction book, or box).</em></p>
<div>
  <label>
    Set Number:
    <input type="text" name="setNumber" [(ngModel)]="filterValue" placeholder="Enter Set Number"
           (keyup.enter)="getSet()">
  </label>
  <button type="submit" (click)="getSet()">Submit</button>
</div>

<table *ngIf="setsLoaded">
    <thead>
        <tr>
            <th>Theme</th>
            <th>Set Number</th>
            <th>Name</th>
            <th>Image Url</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let set of legoSets" (click)="saveSet(set)">
        <td>{{ set.theme[0].name }}</td>
        <td>{{ set.set_num }}</td>
        <td>{{ set.name }}</td>
        <td>{{ set.set_img_url }}</td>
      </tr>
    </tbody>
</table>

